* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    padding: 20px;
}
body.dark-mode {
    background: #1b1b1b;
    color: #f2f2f2;
}

body.dark-mode .extension-section {
   color: white;
}

body.dark-mode .card,body.dark-mode #optionsDialog, body.dark-mode .extension-stat {
    background: #333;
    color:white;
}

body.dark-mode select,
body.dark-mode button
{
    background: #2c2c2c;
    color: white;
    border: 1px solid #555;
}

body.dark-mode h1,
body.dark-mode h2 {
    color: white;
}

.gold-mode .card {
    border: 1.5px solid #d8b54c;
    box-shadow:
        0 0 10px rgba(255, 215, 0, .35);
}

span.gold {
    color: gold;
    -webkit-text-stroke: thin gold;
    text-shadow: 0 0 4px rgb(0 0 0 / 70%), 0 0 8px rgb(0 0 0 / 50%);
}

header {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

h1 {
    font-size: 24px;
}

select {
    padding: 8px;
}

.cards-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    position: relative;
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.card img {
    width: 100%;
    /* height: 300px; */
    object-fit: cover;
    transition: 1s;
}

.card.grayscale img {
    filter: grayscale(100%);
    opacity: 0.5;
    transform: scale(0.98);
}

.card-info {
    padding: 12px;
    color:black;
}

.card-number {
    font-weight: bold;
    margin-bottom: 5px;
}

.card-extension {
    color: #666;
    margin-bottom: 10px;
}

.quantity-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 12px; */
}

.quantity-controls button {
    width: 2em;
    /* height:auto; */
    /* border: none; */
    border: none;
    border-radius: 2em;
    cursor: pointer;
    font-size: 18px;
    color: white;
}

.quantity {
    min-width: 30px;
    text-align: center;
    font-size: 18px;
}

.quantity-controls button:disabled {
    background: #d9d9d9;
    color: #999;
    border: 1px solid #747474;
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

.stats-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.extension-stat {
    background: white;
    padding: 8px 12px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    font-weight: bold;
}

div.cards-grid .S1 {
    background-color: #F5C195;
    border: 1.5px solid #DD9365;
}

div.quantity-controls .S1button {
    background-color: #DD9365;
}

div.cards-grid .S2 {
    background-color: #AE9ABC;
    border: 1.5px solid #A278AF;
}

div.quantity-controls .S2button {
    background-color: #A278AF;
}

div.cards-grid .S3 {
    background-color: #F2F9CA;
    border: 1.5px solid #488A3D;
}

div.quantity-controls .S3button {
    background-color: #488A3D;
}

.extension-section {
    margin-bottom: 40px;
}

#publishBtn,
#copyLinkBtn,
#backBtn,
#extensionFilter {
    border-radius: 2em;
    border: 2px solid rgb(116, 116, 116);
    padding: 1em;
    font-family: monospace;
    transition: 1s background;
    cursor: pointer;
}

#optionsBtn {
    border-radius: 2em;
    cursor: pointer;
    border: none;    
    font-size: 1.1em;
    padding: .5em;
}

#toggleGoldBtn {
    width: 42px;
    height: 42px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;
    font-size: 24px;
    line-height: 1;

    cursor: pointer;

    color: #bdbdbd;
    border-radius: 50%;
    border: none;
}

#toggleGoldBtn.active {
    color: gold;
    -webkit-text-stroke: 1px #a88e06;
    text-shadow:
        0 0 4px rgba(255, 215, 0, .7),
        0 0 8px rgba(255, 215, 0, .5);
}

#publishBtn:hover,
#copyLinkBtn:hover {
    background: rgb(160, 198, 232);
}

#optionsDialog #closeOptionsBtn {
    width: auto;
    font-size: x-large;
    padding: .3em;
    justify-self: center;
    margin: 1em 0 0 0;
}

.extension-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 3px solid #ddd;
}

.extension-header h2 {
    margin: 0;
}

.extension-progress {
    font-weight: bold;
    font-size: 1.1rem;
}

.foil-star {
    position: absolute;
    right: 2px;

    width: 32px;
    height: 32px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 24px;
    cursor: pointer;

    color: #bdbdbd;

    transition:
        color 0.25s ease,
        transform 0.25s ease;

    z-index: 10;
}

.foil-star.active {
    color: gold;
    -webkit-text-stroke: 1px #a88e06;
    text-shadow: 0 0 4px rgba(255, 215, 0, .7), 0 0 8px rgba(255, 215, 0, .5);
}

dialog {
    border: none;
    border-radius: 12px;
    padding: 1.5rem;
    min-width: 280px;
    margin: auto;
}

dialog::backdrop {
    background: rgba(0, 0, 0, .5);
}

#optionsDialog button {
    display: block;
    width: 100%;
    margin: .5rem 0;
    border-radius: 2em;
    border: 2px solid rgb(116, 116, 116);
    padding: 1em;
    font-family: monospace;
    transition: 1s background;
    cursor: pointer;
}
@media (min-width: 600px) {
    body {
        margin: auto 10em;
    }

    .cards-grid {
        grid-template-columns: repeat(10, 1fr);
    }
}